html,body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #2558FF;
}

a[target="_blank"]{
    font-size: 0
}

.content{
    padding: 0 20px;
    min-height: 100vh;
    background: url(../img/newBack.png) no-repeat;
    box-sizing: border-box;
    background-size: 100%;
    padding-top: 100%;
    align-items: center;

}
.content>div>div{
    border-radius: 28px;
    padding: 11px 20px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-bottom: 15px;
    background-color: #fff;
    color: #333;
    /*background-color: blue;*/


}
input{
    border: 0;
    height: 100%;
    outline: none;
    width: 100%;
}
.but{
    text-align: center;
    background: #FFFD55 !important;
    color: #2558FF !important;
    font-weight: 900;
    height: 48px;
    line-height:22px

}
.codeBut{
    color: #2558FF;
    font-size: 15px;
    float: right;
    /*text-align: center;*/
    line-height:22px;
    /*background-color: red;*/
    margin-top: 2px;
}
#tiaoxiazai{
    display: block;
    text-align: center;
    margin-top: 50px;
    color: #FFFFFF;
}



.yindao{
    height: 100vh;
    position: fixed;
    top: 0;
    overflow: scroll;
    background-color: rgb(101, 98, 98);
    display: none;
    text-align: center;
}
@media ( max-width : 350px){
    .content>div{
        padding: 9px 20px 8px;
    }
    #tiaoxiazai{
        margin-top: 45px;
        margin-bottom: 30px;
    }
}



@media ( max-width : 380px){
    .content>div{
        padding: 9px 20px 8px;
    }
    #tiaoxiazai{
        margin-top: 65px;
        margin-bottom: 30px;
    }
}
.content>div{
    /*background-color: red;*/
    padding-bottom:15px;

}

.text{
    color:#FFFFFF;
    font-size: 15px;
    text-align: center;
    margin-top:60px;
    opacity:0.5;


}