package ${package}.service;

import ${package}.domain.${className};
import com.baomidou.mybatisplus.service.IService;
import java.util.List;

/**
 * ${tableComment} 服务层
 * 
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Service  extends IService<${className}>
{
    List<${className}> select${className}List(${className} ${classname});
    int delete${className}ByIds(String ids);
}
