<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youdai.daichao.mapper.ProductTagsMapper">

    <!-- 开启二级缓存 -->
    <delete id="deleteByIds" parameterType="String">
        delete from product_tags where tag_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">#{id}</foreach>
    </delete>
</mapper>
