<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youdai.daichao.mapper.QuestionMapper">

    <!-- 开启二级缓存 -->
    <update id="updateIsDeleteByIds" parameterType="String">
        update  question
        set  is_delete = 1
        where question_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">#{id}</foreach>
    </update>
</mapper>
