<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-shell-edit" th:object="${shell}">
        <input id="shellId" name="shellId"  th:field="*{shellId}" style="display:none"  type="text" >
        <div class="form-group">
            <label class="col-sm-3 control-label">App打包包名：</label>
            <div class="col-sm-8">
                <input type="text"   id="packageName"   name="packageName" th:field="*{packageName}" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">APP壳：</label>
            <div class="col-sm-8">
                <select id="type" name="type" class="form-control m-b">
                    <option value="1" th:selected="*{type}==1">组合贷计算器</option>
                    <option value="2" th:selected="*{type}==2">现金贷</option>
                    <option value="3" th:selected="*{type}==3">手机租赁</option>
                </select>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs/select/select2.js}"></script>
<script th:inline="javascript">


    var prefix = ctx + "shell"
    $("#form-shell-edit").validate({
        rules:{
            proName:{
                required:true,
            },
        },
    });

    function submitHandler() {
        if ($.validate.form()) {
            edit();
        }
    }

    function edit() {
        var shellId = $("input[name='shellId']").val();
        var packageName = $("input[name='packageName']").val();
        var type = $("#type option:selected").val();
        $.ajax({
            cache : true,
            type : "POST",
            url : prefix + "/edit",
            data : {
                "shellId": shellId,
                "packageName": packageName,
                "type":type,
            },
            async : false,
            error : function(request) {
                $.modal.alertError("系统错误");
            },
            success : function(data) {
                $.operate.successCallback(data);
            }
        });
    }



</script>
</body>
</html>
