<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	<form class="form-horizontal m" id="form-channel-edit" th:object="${channel}">
		<input id="channelId" name="channelId" th:field="*{channelId}"  type="hidden">
		<div class="form-group">
			<label class="col-sm-3 control-label">登录账号：</label>
			<div class="col-sm-8">
				<input id="cloginname" name="cLoginname" th:field="*{cLoginname}" class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">渠道商名称：</label>
			<div class="col-sm-8">
				<input id="channelName" name="channelName" th:field="*{channelName}" class="form-control" type="text">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">链接类型：</label>
			<div class="col-sm-8">
				<select id="type" name="type" class="form-control m-b">
					<option  value="0" th:selected="*{type}=='0'">马上借钱</option>
					<option  value="1" th:selected="*{type}=='1'">马上有钱</option>
					<option value="UV" th:selected="*{type}=='UV'">UV</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">扣量比例：</label>
			<div class="col-sm-8">
				<input id="proportion" name="proportion" th:field="*{proportion}" class="form-control" type="text" placeholder="整数(如输入90，意思是扣10%)">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">结算方式：</label>
			<div class="col-sm-8">
				<select id="clearForm" name="clearForm" class="form-control m-b">
					<option  value="CPA" th:selected="*{clearForm}=='CPA'">CPA</option>
					<option  value="CPS" th:selected="*{clearForm}=='CPS'">CPS</option>
					<option value="UV" th:selected="*{clearForm}=='UV'">UV</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">单价：</label>
			<div class="col-sm-8">
				<input id="price" name="price" th:field="*{price}" class="form-control"  type="text" placeholder="单个注册金额">
			</div>
		</div>
	</form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
	var prefix = ctx + "channel"
	$("#form-channel-edit").validate({
		rules:{
			proportion:{
				required:true,
				isProportion:true
			},
			cLoginname:{
				required:true,
				isLoginName:true
			},
			channelName:{
				required:true,
			},
		}
	});

	function submitHandler() {
		if ($.validate.form()) {
			$.operate.save(prefix + "/edit", $('#form-channel-edit').serialize());
		}
	}
</script>
</body>
</html>
