<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/cropbox/cropbox.css}" rel="stylesheet"/>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-advertisement-add" >
        <div class="form-group">
            <label class="col-sm-2 control-label">产品名称：</label>
            <div class="col-sm-8">
                <input id="pName" name="pName" class="form-control" type="text">
            </div>
            <input id="beforePName" name="beforePName"  class="form-control" style="display:none" type="text">
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">广告图片：</label>
            <div class="col-sm-8">

                <input type="button" value="上传图片" onclick="img.click()" class="btn_mouseout"/><br>
                <input type="file" id="img" name="img" accept="image/*" onchange="sc(this);" style="display:none"/>
                <input type="text" id="adUrl" name="adUrl"style="display:none"/>
            </div>
        </div>
        <div class="form-group"  >
            <label class="col-sm-3 control-label">图片预览：</label>
            <div class="col-sm-8" id="show">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">产品跳转地址：</label>
            <div class="col-sm-8">
                <input id="linkUrl" name="linkUrl" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">广告描述：</label>
            <div class="col-sm-8">
                <input id="describation" name="describation" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">广告排序：</label>
            <div class="col-sm-8">
                <input id="sort" name="sort" class="form-control" type="text">
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs/select/select2.js}"></script>
<script type="text/javascript">
    var prefix = ctx + "advertisement"
    $("#form-advertisement-add").validate({
        rules:{
            sort:{
                required:true,
            },
        },
    });

    function submitHandler() {
        if ($.validate.form()) {
            add();
        }
    }

    function add() {
        var adUrl = $("input[name='adUrl']").val();
        var describation = $("input[name='describation']").val();
        var sort = $("input[name='sort']").val();
        var jumpUrl = $("input[name='jumpUrl']").val();

        $.ajax({
            cache : true,
            type : "POST",
            url : prefix + "/add",
            data : {
                "adUrl": adUrl,
                "describation": describation,
                "sort": sort,
                "jumpUrl":jumpUrl
            },
            async : false,
            error : function(request) {
                $.modal.alertError("系统错误");
            },
            success : function(data) {
                $.operate.successCallback(data);
            }
        });
    }
    //图片上传
    function sc(){
        var animateimg = $("#img").val(); //获取上传的图片名 带//
        var imgarr=animateimg.split('\\'); //分割
        var myimg=imgarr[imgarr.length-1]; //去掉 // 获取图片名
        var houzui = myimg.lastIndexOf('.'); //获取 . 出现的位置
        var ext = myimg.substring(houzui, myimg.length).toUpperCase();  //切割 . 获取文件后缀

        var file = $('#img').get(0).files[0]; //获取上传的文件
        var fileSize = file.size;           //获取上传的文件大小
        var maxSize = 1048576;              //最大1MB
        if(ext !='.PNG' && ext !='.GIF' && ext !='.JPG' && ext !='.JPEG' && ext !='.BMP'){
            parent.layer.msg('文件类型错误,请上传图片类型');
            return false;
        }else if(parseInt(fileSize) >= parseInt(maxSize)){
            parent.layer.msg('上传的文件不能超过1MB');
            return false;
        }else{
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function(ev){
                var txt = ev.target.result;
                var img = new Image();
                img.src = txt;
                img.onload = function(){
                    if(img.width <= 500 && img.height <= 500){
                        console.log("图片没有错");
                        //img1.src = txt;
                        var data = new FormData($('#form-advertisement-add')[0]);
                        $.ajax({
                            url: prefix +"/upImg",
                            type: 'POST',
                            data: data,
                            dataType: 'JSON',
                            cache: false,
                            processData: false,
                            contentType: false
                        }).done(function(ret){
                            if(ret.code==0){
                                var fileT=ret.data;
                                var result = '';
                                var result1 = '';
                                // $("#show").attr('value',+ ret['f'] +);
                                result += '<img src="'+fileT.filePath +'" width="100">';
                                $("#adUrl").val(fileT.filePath);
                                $('#show').html(result);
                                layer.msg('上传成功');
                            }else{
                                layer.msg('上传失败');
                            }
                        });
                        return false;

                    }else{
                        console.log("尺寸不对 " + img.width + "*" + img.height);
                        parent.layer.msg('图片尺寸不对,请上传500*500图片');
                    }
                }
            }
            return false;
        }
    }
</script>
</body>
</html>
